@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.site {
    margin: auto;
    width: 75%;
}

.p1 {
    background-color: rgb(51, 64, 167); 
    color:rgb(182, 187, 254);
    font: normal 16px 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600; /* 500+ */
    font-family: 'Roboto', sans-serif;
    border: solid 1px black;
    /* width: 80px; */
}
.p2 {
    background-color: rgb(182, 187, 254); 
    border: double 5px black;
    position: absolute;
    /* width: 50%; */
    padding-left: 15px;
    font-size: 10px;
}
/* */
.p2 p {
    color: rgb(43, 8, 8);
    
}

