@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #666;
  font-family: Roboto, sans-serif;
}

.container {
  padding-top: 5rem;
  width: 800px;
  margin: 0 auto;
} 

.card {
  border-radius: 6px;
  background: #fff;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .20);
}

.btn {
  color: #42b983;
  position: relative;
  border-radius: 99px;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 1rem;
}

.btn.primary {
  background: #42b983;
  color: #fff;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

input[type=file] {
  display: none;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

.preview-image {
  align-self: flex-start;
  position: relative;
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden;
}

.preview-image.removing {
  transform: scale(0);
  transition: all 0.3s;
}

.preview-image:hover .preview-remove {
  opacity: 1;
}

.preview-image:hover .preview-info {
  bottom: 0;
}

.preview-image img {
  display: block;
  width: 180px;
  height: auto;
}

.preview-remove {
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 220ms;
}

.preview-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  font-size: .8rem;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  transition: bottom 220ms;
}

.preview-info-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #42b983;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width .22s; 
  color: white;
}