/* button {
  /* -webkit-appearance: none; */
  /* background-color: none; */
  
  /* -webkit-margin-before: none;
  -webkit-margin-end: none;
  -webkit-margin-after: none;
  -webkit-margin-start: none;

  -webkit-padding-before: none;
  -webkit-padding-end: none;
  -webkit-padding-after: none;
  -webkit-padding-start: none; */
/* } */ 


.delete-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  min-width: 0;
  padding: 1px 6px;
  height: 25px;
  width: 25px;
  background-color: rgb(199, 22, 40);
  border-radius: 25%;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.15s;
  /* text-align: center; */
  /* vertical-align: middle; */
}

.delete-button:hover {
  opacity: 90%;
  cursor: pointer;
}

.element {
  display: flex;
  /* align-items: ; */
}
