@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  background-color: rgb(26, 25, 33);
}


button, input, div {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: azure;
  border: none;
  border-radius: 28px;
  padding: 5px 10px;
  -webkit-appearance: none;
}

button, input {
  background-color: rgb(84, 53, 110);
}

#date-picker {
  padding: 3px 8px;
}

.line, .element {
  margin-bottom: 6px;
}

.delete-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 1px 6px;
  padding-bottom: 3px;
  height: 20px;
  width: 20px;
  background-color: rgb(199, 22, 40);
  border-radius: 25%;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.15s;
}

.delete-button:hover {
  opacity: 90%;
  cursor: pointer;
}

.element {
  display: flex;
  align-items: center;
}
