@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.block1 p {
    color: #ffab5f;
}
.block2 p {
    color: #019cfe;
}
.block3 p {
    color: #fd684a;
}
.block4 p {
    color: #68d094;
}

.block1 p, .block2 p, .block3 p, .block4 p{
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 7px;
}
.block1 .month, .block2 .month, .block3 .month, .block4 .month {
    background-color: #ffab5f;
    border-radius: 18px;
}
.block2 .month {
    background-color: #019cfe;
}
.block3 .month {
    background-color: #fd684a;
}
.block4 .month {
    background-color: #68d094;
}

.block1, .block3 {
    width: 45%;
    display: inline-block;
    margin-left: 2%;
    font-family: Roboto, sans-serif;
}
.block2, .block4 {
    width: 45%;
    display: inline-block;
    margin-left: 5%;
    font-family: Roboto, sans-serif;
}

p {
    font-weight: 900;
    font-size: x-large;
} 

li {
    color: #fff;
}

.month {
    padding: 5px;
}

.month li {
    margin-bottom: 10px;
    font-size: 100%;
}