fieldset {
  border-color: rgb(61, 193, 149);
  background-color: rgb(255, 246, 235);
  border-radius: 10px;
  color: brown;
  margin-left: 10px;
  margin-top: 10px;
}

legend {
  color: rgb(61, 193, 149);
  font-weight: bold;
  text-transform: uppercase;
}

label {
  width: 230px;
  float: left;
}

.contact-info input, .personal-info input {
  width: 200px;
}

.send {
  background: linear-gradient(rgb(195, 255, 188),rgb(61, 193, 149));
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid rgb(61, 193, 149);
}