.main_block {
  margin-left: 80px;
  padding-top: 130px;
  color: white;
}

.title {
  font-size: 70px;
  background-image: linear-gradient(0.5turn, #3f87a6, #ebf8e1, #f69d3c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 50px;
  line-height: 30px;
 }

 .text_link {
  color: cornflowerblue;
  text-decoration: none;
 }

 .p_table {
  margin-top: 20px;
  border-collapse: collapse;
  font-family: Roboto, sans-serif;
 }

 .p_table thead {
  background-image: linear-gradient(0.25turn, rgb(243, 181, 35), rgb(255, 98, 0), rgb(243, 181, 35));
  border-top-left-radius: 15px;
 }

 .p_table tbody tr:nth-child(odd) {
  background-image: linear-gradient(0.25turn, cornflowerblue, #172085,cornflowerblue);
 }

 .p_table tr {
  height: 40px;
 }

 .p_table .center {
  text-align: center;
  width: 800px;
 }

 .p_table td {
  padding: 10px 20px;
 }

 